In [1]:
''' Instead of a todo list, let's try to put this into a database.'''

# import sqlite3
import sqlite3

# create / connect to the db
conn = sqlite3.connect("todos.db")

# create an instance for connection through ORM
cursor = conn.cursor()

# create a table if it doesn't exist

cursor.execute("""
        CREATE TABLE IF NOT EXISTS tasks (
                id INTEGER PRIMARY KEY,
                name VARCHAR(100) NOT NULL,
                description VARCHAR NOT NULL,
                status BOOLEAN
            );    
""")

conn.commit() # saves changes to database
conn.close() # closes connection

In [2]:
# connect to the db
conn = sqlite3.connect("todos.db")

# create an instance for connection through ORM
cursor = conn.cursor()

In [3]:
# let's try to insert a task using tuple (CREATE)

task_1 = (1, "Drink Milk", "Drink a glass of milk at 7 AM", False)
task_2 = (2, "Send Email to Sarah", "Send email to sarah about meetings", False)

cursor.execute("""
        INSERT INTO tasks (id, name, description, status)
        VALUES (?, ?, ?, ?);               
""", task_1)

cursor.execute("""
        INSERT INTO tasks (id, name, description, status)
        VALUES (?, ?, ?, ?);               
""", task_2)


conn.commit()

In [4]:
# Let's check if the task is added or not (READ)

# Query to print all records in tasks table
cursor.execute("""
    SELECT * FROM tasks;               
""")

rows = cursor.fetchall()
for row in rows:
    print(row)

conn.commit()

(1, 'Drink Milk', 'Drink a glass of milk at 7 AM', 0)
(2, 'Send Email to Sarah', 'Send email to sarah about meetings', 0)

In [5]:
# Let's try to update the task
cursor.execute("""
      UPDATE tasks
      SET status = true
      WHERE id=1;             
""")

conn.commit()

In [6]:
# Let's try to print again (to see the updated changes)

cursor.execute("""
    SELECT * FROM tasks;               
""")

rows = cursor.fetchall()
for row in rows:
    print(row)

conn.commit()

(1, 'Drink Milk', 'Drink a glass of milk at 7 AM', 1)
(2, 'Send Email to Sarah', 'Send email to sarah about meetings', 0)

In [7]:
# Let's try to delete that task from tasks table

cursor.execute("""
    DELETE FROM tasks WHERE id IN (2);
""")

cursor.execute("""
    SELECT * FROM tasks;
""")
records = cursor.fetchall()

if(len(records) == 0):
    print("No tasks left!")
else :
    for record in records:
        print(record)

conn.commit()

(1, 'Drink Milk', 'Drink a glass of milk at 7 AM', 1)

In [8]:
# Enter many tasks at once
tasks = [
    (3, "Try to catch tram by 9 AM", "Try to catch tram by 9 AM else you'll be late for office", False),
    (4, "Reach office on 4th Floor", "Office is on 4th floor, be there by 11 AM", False)
]

cursor.executemany("""
    INSERT INTO tasks (id, name, description, status) VALUES (?, ?, ?, ?);
""", tasks)

conn.commit()

In [9]:
# Query to print all records in tasks table
cursor.execute("""
    SELECT * FROM tasks;               
""")

rows = cursor.fetchall()
for row in rows:
    print(row)

conn.commit()

(1, 'Drink Milk', 'Drink a glass of milk at 7 AM', 1)
(3, 'Try to catch tram by 9 AM', "Try to catch tram by 9 AM else you'll be late for office", 0)
(4, 'Reach office on 4th Floor', 'Office is on 4th floor, be there by 11 AM', 0)

In [10]:
cursor.execute("""
    UPDATE tasks 
    SET status = true
    WHERE id=3;               
""")
conn.commit()

In [11]:
# Query to print all records in tasks table
cursor.execute("""
    SELECT * FROM tasks;               
""")

rows = cursor.fetchall()
for row in rows:
    print(row)

conn.commit()

(1, 'Drink Milk', 'Drink a glass of milk at 7 AM', 1)
(3, 'Try to catch tram by 9 AM', "Try to catch tram by 9 AM else you'll be late for office", 1)
(4, 'Reach office on 4th Floor', 'Office is on 4th floor, be there by 11 AM', 0)

In [12]:
import sqlite3
import json

DB_NAME = "todos.db"

# Initialize database
def initialize_database():
    conn = sqlite3.connect(DB_NAME)
    cursor = conn.cursor()
    
    cursor.execute("""
        CREATE TABLE IF NOT EXISTS tasks (
            id INTEGER PRIMARY KEY,
            name VARCHAR NOT NULL,
            description VARCHAR,
            status BOOLEAN
        );
    """)
    
    conn.commit()
    conn.close()

initialize_database()